* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.landing__top {
    background-image: url(../img/rg-bat_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
}

.landing__middle {
    background: url(../img/rg-bat_figure.png) no-repeat, linear-gradient(90deg, rgb(231, 237, 237) 35%, rgb(208, 209, 211) 80%);
    padding-bottom: 150px;
}

.landing__form {
    background: linear-gradient(90deg, rgb(231, 237, 237) 35%, rgb(208, 209, 211) 80%);
    height: 100vh;
}


/*Fonts*/

@font-face {
    font-family: 'Gabriola';
    src: url(../fonts/Gabriola.ttf);
    font-family: 'Mfred';
    src: url(../fonts/MFred.ttf);
}

/*Header*/
.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;

}

.header__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 24px;
}

.header__contacts {
    display: flex;
    gap: 30px;
    color: #fafafa;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.header__contacts a {
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
}

.header__contacts a:hover {
    color: #cac9c6;
}

/*Body*/

.body__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 24px;

}

.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin: 0;
    margin-top: 250px;
}

.hero-disc {
    background-color: rgba(50, 50, 50, 0.6);
    width: 350px;
    height: 290px;
    color: #fafafa;
    margin-top: 20px;
}

.hero-text {
    padding: 30px 70px 55px 25px;
}

.disc__top {
    font-size: 48px;
    line-height: 55px;
    font-family: 'Mfred', sans-serif;

}

.disc__bottom {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Gabriola', sans-serif;
}

.card_1 {
    margin-bottom: 30px;
    text-align: left;
}

.card_2 {
    text-align: center;
    margin-top: 30px;
}

.card_3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: right;
    padding: 30px 20px 0 0;
}

.contactbar {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 50px 30px 0;
}

.contactbar img {
    max-width: 70px;
    max-height: 70px;
}

.middle__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 40px 24px;
}

.middle__title {
    display: flex;
    justify-content: center;
    font-family: 'Mfred', sans-serif;
    font-size: 61px;
    color: #848586;
    margin-bottom: 100px;
}

.middle__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    gap: 30px;
}

.box {
    width: 380px;
    height: 270px;
    background-color: #636363;
}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.arrow button {
    border: none;
    background: local;
    cursor: pointer;
}

/*FORM*/
.form__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
}

.form__container {
    background-color: #838485;
    width: 700px;
    height: 800px;
}

.form__title {
    display: flex;
    justify-content: center;
    font-family: 'Mfred', sans-serif;
    font-size: 50px;
    line-height: 150px;
    font-weight: 100;
    color: #fafafa;
    border: none;
    border-bottom: 1px solid white;
    margin: 0 150px;
}

.box__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    justify-items: center;
    padding: 70px 75px;
}

.field label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Mfred', sans-serif;
    font-size: 30px;
    color: #f7941d;
}

.field input {
    padding: 10px 30px;
}

.reverse-text {
    text-align: right;
}

#disgree,
#agree {
    transform: scale(2);
}

.agreement {
    width: 200px;
    white-space: nowrap;
    font-size: 20px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-indent: -25px;
}

.agreement label {
    margin: 0;
    padding: 0;
}

.field__agree {
    margin-top: 20px;
}

.button__box {
    width: 700px;
    display: flex;
    justify-content: center;
}

.button__form {
    display: flex;
    align-items: center;
    background: #f7941d;
    font-family: 'Mfred', sans-serif;
    color: #fafafa;
    padding: 15px 40px 10px 80px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}


/*FOOTER*/
footer {
    background: #838485;
    color: #fafafa;
    font-family: 'Mfred', sans-serif;
}

.footer__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 40px 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__contacts {
    align-items: center;
    font-size: 41px;
    line-height: 40px;
    display: grid;
    gap: 25px;
}

.footer__contacts h1 {
    font-weight: 100;
    font-size: 60px;
}

.footer__contacts img {
    margin-right: 20px;
}


.footer__contacts-geo span {
    font-size: 35px;
    margin-left: 210px;
}

.footer__logo {
    display: grid;
    grid-template-rows: auto;
    justify-self: right;
    gap: 150px;
}

.footer__logo img {
    margin-left: 220px;
}

.index {
    font-size: 41px;
    line-height: 40px;
}

/*Adaptive*/
@media(max-width:1450px) {
    .hero {
        gap: 30px;

    }

    .header__fixed {
        padding-left: 100px;
        padding-right: 100px;
    }

}

@media(max-width:1199px) {

    .hero {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        margin-left: 170px;
        margin-right: 100px;
        padding: 0 200px 0 40px;
    }


    .hero :nth-child(3) {
        grid-row-start: 2;
        grid-column: span 2;
        justify-self: center;
    }

    .header__fixed {
        background-color: rgba(50, 50, 50, 0.6);
    }
}

@media(max-width: 1024px) {

    .hero {
        grid-template-columns: 1fr;
        align-items: center;
        padding: 0 200px 0 50px;
    }

    .hero :nth-child(3) {
        grid-row-start: 1;
        grid-column: span 1;
    }

}


@media(max-width: 384px) {
    .hero {
        padding: 0 200px 0 20px;
    }

    .hero :nth-child(3) {
        grid-row-start: 1;
        grid-column: span 1;
        justify-self: center;
    }
}